.elementoCarrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: purple;
}

.compra{
    text-align: center;
    color: purple;
}
.botonVaciar{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 48%;
}
.total{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.finalizar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
    margin-left: 48%;
}