.contador{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 48%;
    padding: 20px;
    width: 100px;
    color: purple;
}

.detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    color: purple;
}
.detalleImg{
    width:300px;
    margin-left: 40%;
}
.botones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.boton{
    color: beige;
    background-color: purple;
}
.boton:hover{
    color: black;
    padding: 3px;
}