.container {
    display: flex;
    justify-content: center;
    background-color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .container ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .naveg{
    margin: 20px;
    list-style-type: none;
   color: thistle;
  }